{{!-- When a customer logs in they're presented with their profile --}}

<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
{{!-- Show upcoming projects (not functional) --}}
<div>
    <h3>Your upcoming projects</h3>
    <p>{{name.project.date}}</p>
    <p>{{project.id.description}}</p>
</div>
{{!-- Create a new project. --}}
<div class="row mt-4" style="background-image:url(assets/blue.jpg)">
  <div class="col-md-6">
    <h3>Create a New Project:</h3>

    <form class="form new-project-form">
      {{!-- We need to be able to iterate through available dates with the google api, idk if we need this anymore if the api is emailing them--}}
      <div class="form-group">
        <label for="project-date">Estimate date:</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
        {{!-- Enter the new project description for the work to be estimated. --}}
    <label for="project-desc">project description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        {{!-- this button will take them to the calendly widget on the homepage?--}}
        <button type="submit" class="btn btn-primary">Schedule new estimate</button>
      </div>
    </form>
  </div>

  
  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">CANCEL</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>