{{!-- When a customer logs in they're presented with their profile --}}

<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

 <div class="calendly-inline-widget" data-url="https://calendly.com/backendboyzconstruction/estimates?hide_event_type_details=1" style="min-width:320px;height:630px;"></div>
  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>

    <form class="form new-project-form">
      {{!-- We need to be able to iterate through available dates with the google api, idk if we need this anymore if the api is emailing them--}}
      <div class="form-group">
        <label for="project-date">Estimate date:</label>
        <input class="form-input" type="date" id="estimate-date" name="estimate-date" />
      </div>
      <div class="form-group">
        {{!-- Enter the new project description for the work to be estimated. --}}
        <label for="project-desc">project description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        {{!-- Enter the location for the work to be estimated. --}}
        <label for="project-desc">location(city):</label>
        <textarea class="form-input" id="project-location" name="project-location"></textarea>
      </div>
      <div class="form-group wrapper">
        {{!-- this button will take them to the calendly widget on the homepage?--}}
        {{!-- Clicking the button should save the new estimate - scott --}}
        <button type="submit" class="btn btn-primary" data-id="{{project.id}}">Schedule New Estimate</button>
      </div>
    </form>
  </div>
</div>
<div>
<div>
    <h3>Your upcoming projects</h3>
    <p>{{name.project.date}}</p>
    <p>{{project.id.description}}</p>
</div>
  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4 wrapper">
        <button type="submit" class="btn btn-sm btn-danger" data-id="{{project.id}}">CANCEL</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>