{{!-- This page is going to be for the admin to look through all of the projects through the google api
It might need to be routed away from the public folder --}}

<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  {{!-- Adding the date for the estimate followed by a description of the work looking to be done.
  Probably needs fixing --}}
  <p>{{user.name}}  has an estimate on {{format_date}} {{date_created}} for</p>
 <p>{{project}}</p>
</div>


    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">CANCEL</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/project.js"></script>