<div class="project-list">
    <div class="row mb-2">
      <div class="col-md-8">
        <h4>{{this.project_type}}</h4>
        <p>{{this.location}}</p>
        <p>${{this.cost}}</p>
        <p>{{this.date_created}}</p>
        <p>User ID: {{this.user_id}}</p>
      </div>
      <div class="col-md-4 project-list">
        <button class="btn btn-sm btn-danger" data-id="{{this.id}}">CANCEL</button>
      </div>
    </div>
  </div>
</div>

<script src="./js/project.js"></script>